<br> <img src="https://serea2017.uniandes.edu.co/images/Logo.png" height="80" width="150" align="Center" /> <br>

## MIIA-4203 MODELOS AVANZADOS PARA ANÁLISIS DE DATOS II


# Introducción a Sistemas de Recomendación

## Actividad 10


### Profesor: Camilo Franco (c.franco31@uniandes.edu.co)

## Actividad en grupos
### Nombres:

    Arturo Guerrero            (201823464)
    Carlos Andres Paez Rojas   (201924257)

**Instrucciones:** Por favor escriba los nombres de los integrantes de su grupo. Esta actividad debe ser entregada a más tardar dentro de 8 días, con la respuesta para los ejercicios y preguntas en cada numeral.

En este cuadernos estudiaremos una primera introducción a los sistemas de recomendación, examinando un modelo de recomendación en base a la popularidad, sin ningún grado de personalización. En futuras actividades exploraremos otros sistemas basados en contenido o en filtrado colaborativo, los cuales toman en cuenta las preferencias de los usuarios. 

Los sistemas de recomendación están entre las aplicaciones más populares de la ciencia de datos actualmente. El marco que ofrecen estos sistemas permite representar modelos de decisión junto con métodos estadístico/computacionales para **aprender y estimar** las preferencias de los usuarios.

## Introducción

En esta introducción vamos a construir un modelo simple basado en popularidad. Aprenderemos nociones que nos permitirán construir modelos más complejos de recomendación. 

En este cuaderno vamos a trabajar con una base de datos de películas IMDB (https://www.imdb.com/) 

En términos generales, los sistemas de recomendación pueden clasificarse en 3 tipos:

- **Recomendadores simples:** genera recomendaciones para cada usuario según la popularidad del ítem o producto. Por ejemplo, proponer películas o un género en base a su popularidad o su crítica, donde una buena crítica aproxima una mayor probabilidad de que la película sea apreciada por una audiencia "promedio".
- **Recomendadores basados en contenido:** sugiere elementos similares en función de un elemento en particular, como por ejemplo el género, la sinopsis o el reparto (actores, etc). De esta manera, si el usuario tiene unas preferencias específicas sobre un ítem/artículo en particular, también podría tener preferencia por un ítem *similar*.
- **Recomendadores por filtrado colaborativo:** estos sistemas generan recomendaciones a partir de similitudes entre usuarios, prediciendo la calificación o preferencia de un usuario sobre un ítem, o un grupo de atributos de dicho ítem, según las calificaciones y preferencias observadas de otros usuarios. 

Por último se puede considerar también un cuarto tipo de recomendadores, que son los de tipo **Híbrido**. Estos hacen referencia al uso simultaneo de las distintas metodologias antes señaladas y de múltiples fuentes de información o tecnologías específicas, como pueden ser las redes sociales o fuentes de información geográfica, demográfica, etc.

Para profundizar en los sistemas de recomendación se pueden consultar las siguientes fuentes:
- Ch. Aggarwal. Recommender Systems. Springer, 2016.
- J. Leskovec, A. Rajaraman, J. Ullman. Mining of Massive Datasets. Cambridge University Press (http://www.mmds.org/)

## 1. Sistema de recomendación simple

Los recomendadores simples generan recomendaciones basadas en su popularidad, de acuerdo con una *preferencia promedio*. 

La pregunta es,

**¿cómo medimos la popularidad de un producto/ítem?**

Una opción es la de elegir una métrica determinada para puntuar las películas, y en base a esa métrica generar un valor de preferencia por el ítem. De esta manera es posible consturir un *orden lineal* o un *ranking estricto* con las mejores películas de la base de datos IMDB.

Pasos a seguir:
- Elegir la métrica con la que se va a calificar cada película. Este punto también se puede entender como un modelo para estimar las preferencias por una película.
- Calcular el valor de preferencia sobre cada película.
- Ordenar las películas según su valor o puntuación y obtener una lista con las mejores k peliculas.

Manos a la obra, primero carguemos el conjunto de datos como un data frame en la bilbioteca Pandas:

In [1]:
# Importamos la biblioteca Pandas
import pandas as pd

# Cargamos los datos de peliculas de la base de datos IMDB
metadata = pd.read_csv('C:/Users/Carlos P/Modelos Av 2/Datasets/movies_metadata.csv', low_memory=False)

print(metadata.shape)
      
list(metadata)

(45466, 24)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [2]:
# Así se ven los datos
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
metadata[['original_title', 'popularity']][1:10]

                original_title popularity
1                      Jumanji  17.015539
2             Grumpier Old Men    11.7129
3            Waiting to Exhale   3.859495
4  Father of the Bride Part II   8.387519
5                         Heat  17.924927
6                      Sabrina   6.677277
7                 Tom and Huck   2.561161
8                 Sudden Death    5.23158
9                    GoldenEye  14.686036

### Rating vs. Popularidad

Con esta información vamos a construir un sistema que recomiende películas basados directamente en su *rating*, o **voto promedio**. Sin embargo, es cierto que hay otro atributo relevante como lo es el de su **popularidad**. Por ejemplo, si un solo usuario califica con 10 una pelicula, pero 5000 usuarios le dan en promedio un 8.3, solo en base al rating la primera película sería considerada mejor que la segunda.


Bajo una perspectiva de *los grandes números*, la valoración o voto promedio de una película tiende a converger hacia un valor que refleje la calidad de la película a medida que el número de votos aumenta. Con poca información, o pocos votos, es más difícil estimar la calidad promedio de la película.  


Entonces, 

**¿qué tipo de métrica nos sirve para evaluar apropiadamente la preferencia por una película?** 

Tengamos en cuenta que en base a esta métrica se tendrán mejores o peores recomendaciones!

### Ejercicio 1.1

Examine los datos y proponga una métrica que permita estimar la preferencia promedio por una película.

#### Examinando la información que contamos para película:

In [4]:
metadata.iloc[0:5,0:8]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en

In [5]:
metadata.iloc[0:5,8:16]

,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0
1,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0

In [6]:
metadata.iloc[0:5,16:24]

,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

#### Inicialmente, considerando una métrica de recomendación **simple** podemos estimar las películas con mayor popularidad y calificación.
> Calculamos el peso de cada película:
$$
\ weight count = \left( \frac{ vote count}{ total count} \right)  
$$
> Ponderamos el raiting por el peso: 
$$
\ preferencia = vote average * weight count 
$$
> Incluimos el índice de popularidad:
$$
\ preferencia = preferencia * popularity 
$$

In [7]:
metrica = pd.DataFrame(metadata[['original_title', 'popularity', 'vote_average', 'vote_count']])
metrica['total_count'] = metrica['vote_count'].sum()
metrica['weight_count'] = metrica['vote_count'] / metrica['total_count']

metrica['popularity'].replace('Beware Of Frost Bites', 'NaN', inplace=True )
metrica['popularity'] = metrica.popularity.astype(float)

metrica['preferencia'] = metrica['vote_average'] * metrica['weight_count'] * metrica['popularity'] 
metrica = metrica.sort_values(['preferencia'], ascending = False)
metrica.head(15)

,original_title,popularity,vote_average,vote_count,total_count,weight_count,preferencia
30700,Minions,547.488298,6.4,4729.0,4995933.0,0.000947,3.316710
14551,Avatar,185.070892,7.2,12114.0,4995933.0,0.002425,3.231034
26564,Deadpool,187.860492,7.4,11444.0,4995933.0,0.002291,3.184406
12481,The Dark Knight,123.167259,8.3,12269.0,4995933.0,0.002456,2.510533
42222,Beauty and the Beast,287.253654,6.8,5530.0,4995933.0,0.001107,2.162136
33356,Wonder Woman,294.337037,7.2,5025.0,4995933.0,0.001006,2.131557
24455,Big Hero 6,213.849907,7.8,6289.0,4995933.0,0.001259,2.099755
292,Pulp Fiction,140.950236,8.3,8670.0,4995933.0,0.001735,2.030235
17818,The Avengers,89.887648,7.4,12000.0,4995933.0,0.002402,1.597704
26567,Captain America: Civil War,145.882135,7.1,7462.0,4995933.0,0.001494,1.547031
23675,Gone Girl,154.801009,7.9,6023.0,4995933.0,0.001206,1.474338
24351,John Wick,183.870374,7.0,5499.0,4995933.0,0.001101,1.416697
26566,Guardians of the Galaxy Vol. 2,185.330992,7.6,4858.0,4995933.0,0.000972,1.369628
24873,The Hunger Games: Mockingjay - Part 1,147.098006,6.6,5767.0,4995933.0,0.001154,1.120686
2843,Fight Club,63.869599,8.3,9678.0,4995933.0,0.001937,1.026931

#### Con dicha métrica podemos clasificar películas con alto índice de popularidad y a su vez películas con alto raiting ponderado a la cantidad de votos.
##### En otras palabras priorizamos películas que son adquiridas por muchos usuarios y no necesariamente con alto raiting. Y / o por el contrario, películas con buen raiting y adquiridas por un numero promedio de usuarios.
> Como primer caso, tenemos la película **Minions** con un raiting aceptable, pero alto nivel de popularidad.
> Otro ejemplo, destacamos la película **Pulp Fiction** con buen raiting, pero con un nivel promedio de popularidad.

### Ponderación entre rating y popularidad

Una opción puede consistir en ponderar el rating que recibe una película por su número de votos. De esta manera se pueden prevenir situaciones donde una película con un voto de 10 obtenga una mejor calificación que una película con 1000 votos con un promedio de 9.5.  

De esta manera, el voto promedio ponderado $\mu_i$, de la $i$-ésima película lo definimos como:

$$
\mu_i  = \left( \frac{v_i}{v_{max}} \right) R_i 
$$

donde $v_i$ es el número de votos para la $i$-ésima película, $v_{max}$ es el máximo número de votos que recibe la película más popular, y $R$ es el rating promedio de la pelicula.


En la base de datos tenemos los valores de $v_i$ (vote_count) y $R$ (vote_average) para cada pelicula. Además podemos agregar un filtro para que considere las películas con un minimo número de votos $v_{min}$.

Nos quedamos con las columnas necesarias para calcular el rating ponderado más el link de la pagina (en caso de que esté disponible):

In [8]:
pelisR = metadata[['original_title', 'homepage', 'vote_count', 'vote_average']]
pelisR.shape

(45466, 4)

In [9]:
# Calificacion de peliculas basada en la ponderacion de su rating 
def rating_ponderado(x):
    """
    Input:
    x: datos de rating y votacion de las peliculas
    m: minimo numero de votos
    Output:
    rating ponderado
    """
    m = x['vote_average'].max()
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R)

Definimos una nueva respuesta 'score' y calculamos su valor con la funcion rating_ponderado().

A continuación ordenamos las películas basados en el score y ofrecemos el top 15 de películas preferidas:

In [10]:
import warnings
warnings.filterwarnings("ignore", category=Warning)

# si tiene al menos vmin votos, incluimos la pelicula
vmin = 1
pelisRF = pelisR.copy().loc[pelisR['vote_count'] >= vmin]
pelisRF['score'] = rating_ponderado(pelisRF)

# ordenamos las peliculas de acuerdo con el score
pelisRF = pelisRF.sort_values('score', ascending=False)

# Mostramos el top15 de las peliculas
pelisRF[['original_title', 'homepage', 'vote_count', 'vote_average', 'score']].head(15)

,original_title,homepage,vote_count,vote_average,score
10309,Dilwale Dulhania Le Jayenge,NaN,661.0,9.1,8.964382
314,The Shawshank Redemption,NaN,8358.0,8.5,8.489842
834,The Godfather,http://www.thegodfather.com/,6024.0,8.5,8.485913
40251,君の名は。,https://www.funimationfilms.com/movie/yourname/,1030.0,8.5,8.418269
39085,Planet Earth,NaN,176.0,8.8,8.326882
12481,The Dark Knight,http://thedarkknight.warnerbros.com/dvdsite/,12269.0,8.3,8.293240
2843,Fight Club,http://www.foxmovies.com/movies/fight-club,9678.0,8.3,8.291433
292,Pulp Fiction,NaN,8670.0,8.3,8.290438
522,Schindler's List,http://www.schindlerslist.com/,4436.0,8.3,8.281332
23673,Whiplash,http://sonyclassics.com/whiplash/,4376.0,8.3,8.281076
5481,千と千尋の神隠し,http://movies.disney.com/spirited-away,3968.0,8.3,8.279135
2211,La vita è bella,NaN,3643.0,8.3,8.277279
1178,The Godfather: Part II,NaN,3418.0,8.3,8.275788
1152,One Flew Over the Cuckoo's Nest,NaN,3001.0,8.3,8.272434
1176,Psycho,NaN,2405.0,8.3,8.265631

Examinemos el efecto de cambiar el mínimo numero de votos a considerar:

In [11]:
# si tiene al menos mil votos incluimos la pelicula
vmin = 1000
pelisRF = pelisR.copy().loc[pelisR['vote_count'] >= vmin]
pelisRF['score'] = rating_ponderado(pelisRF)

# ordenamos las peliculas de acuerdo con el score
pelisRF = pelisRF.sort_values('score', ascending=False)

# Mostramos el top15 de las peliculas
pelisRF[['original_title', 'homepage', 'vote_count', 'vote_average', 'score']].head(15)

,original_title,homepage,vote_count,vote_average,score
314,The Shawshank Redemption,NaN,8358.0,8.5,8.491364
834,The Godfather,http://www.thegodfather.com/,6024.0,8.5,8.488023
40251,君の名は。,https://www.funimationfilms.com/movie/yourname/,1030.0,8.5,8.430429
12481,The Dark Knight,http://thedarkknight.warnerbros.com/dvdsite/,12269.0,8.3,8.294254
2843,Fight Club,http://www.foxmovies.com/movies/fight-club,9678.0,8.3,8.292717
292,Pulp Fiction,NaN,8670.0,8.3,8.291871
522,Schindler's List,http://www.schindlerslist.com/,4436.0,8.3,8.284126
23673,Whiplash,http://sonyclassics.com/whiplash/,4376.0,8.3,8.283909
5481,千と千尋の神隠し,http://movies.disney.com/spirited-away,3968.0,8.3,8.282258
2211,La vita è bella,NaN,3643.0,8.3,8.280679
1178,The Godfather: Part II,NaN,3418.0,8.3,8.279410
1152,One Flew Over the Cuckoo's Nest,NaN,3001.0,8.3,8.276558
1176,Psycho,NaN,2405.0,8.3,8.270769
1184,Once Upon a Time in America,NaN,1104.0,8.3,8.236584
351,Forrest Gump,NaN,8147.0,8.2,8.191454

Veamos en qué consiste esa pelicula en japonés:

In [12]:
import webbrowser

webbrowser.open(pelisRF['homepage'][40251])

True

### Ejercicio 1.2

Examine cómo varían los resultados si tomamos directamente la variable de popularidad.

#### Teniendo en cuenta los dos ejercicios realizados anteriormente, notamos que no existe mucha diferencia entre uno y otro, pues considerando el Top 15, las mismas 13 películas serían recomendadas en ambos escenarios.

In [13]:
def rating_ponderado2(x):
    p = x['popularity']
    R = x['vote_average']
    return (p * R)

In [14]:
# si tiene al menos mil votos incluimos la pelicula
vmin = 1000
pelisRF = metrica.copy().loc[metrica['vote_count'] >= vmin]
pelisRF['score'] = rating_ponderado2(pelisRF)

# ordenamos las peliculas de acuerdo con el score
pelisRF = pelisRF.sort_values('score', ascending=False)

# Mostramos el top15 de las peliculas
pelisRF[['original_title', 'vote_count', 'popularity','vote_average', 'score']].head(15)

,original_title,vote_count,popularity,vote_average,score
30700,Minions,4729.0,547.488298,6.4,3503.925107
33356,Wonder Woman,5025.0,294.337037,7.2,2119.226666
42222,Beauty and the Beast,5530.0,287.253654,6.8,1953.324847
24455,Big Hero 6,6289.0,213.849907,7.8,1668.029275
43644,Baby Driver,2083.0,228.032744,7.2,1641.835757
26566,Guardians of the Galaxy Vol. 2,4858.0,185.330992,7.6,1408.515539
26564,Deadpool,11444.0,187.860492,7.4,1390.167641
14551,Avatar,12114.0,185.070892,7.2,1332.510422
24351,John Wick,5499.0,183.870374,7.0,1287.092618
23675,Gone Girl,6023.0,154.801009,7.9,1222.927971
292,Pulp Fiction,8670.0,140.950236,8.3,1169.886959
26567,Captain America: Civil War,7462.0,145.882135,7.1,1035.763158
12481,The Dark Knight,12269.0,123.167259,8.3,1022.288250
44274,War for the Planet of the Apes,1675.0,146.161786,6.7,979.283966
24873,The Hunger Games: Mockingjay - Part 1,5767.0,147.098006,6.6,970.846840

#### Al considerar directamente la popularidad, las recomendaciones tendrían una fuerte inclinación a películas con alto consumo, sin dar mucha prioridad al raiting recibido.
##### Los resultados varían en gran medida, pues únicamente 2 películas coinciden dentro de las recomendaciones anteriores (**Pulp Fiction** y **The Dark Knight**)

#### Con esto, consideraríamos una métrica muy similar y casi con la misma prioridad a la propuesta en el ejercicio 1.1. Donde, coinciden 13 de 15 películas en el Top de recomendaciones.

### Recomendación de peliculas mas populares por genero

In [15]:
import numpy as np
from ast import literal_eval

# trabajamos la informacion por generos
metadata['genres'] = metadata['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

# añadimos la variable del año
metadata['year'] = pd.to_datetime(metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995

Primero nos quedamos con todos los generos:

In [16]:
generos = metadata.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
generos.name = 'genre'
gen_md = metadata.drop('genres', axis=1).join(generos)

gen_md.head(3)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Comedy
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Family

Construimos una funcion para un género particular y que tome en cuenta peliculas con un número vmin de votos:

In [17]:
def rec_gen(genero, vmin):
    df = gen_md[gen_md['genre'] == genero]
    v = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    R = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    m = df['vote_average'].max()
    
    pelisG = df[(df['vote_count'] >= vmin) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'overview', 'homepage']]
    pelisG['vote_count'] = pelisG['vote_count'].astype('int')
    pelisG['vote_average'] = pelisG['vote_average'].astype('int')
    
    pelisG['wr'] = v/m * R
    pelisG = pelisG.sort_values('wr', ascending=False).head(250)
    
    return pelisG

Veamos el Top-15 de recomendaciones en Ciencia Ficción:

In [18]:
k = 15
scifi = rec_gen('Science Fiction', 1000)
scifi.head(15)

,title,year,vote_count,vote_average,popularity,overview,homepage,wr
15480,Inception,2010,14075,8,29.108149,"Cobb, a skilled thief who commits corporate es...",http://inceptionmovie.warnerbros.com/,11260.0
22879,Interstellar,2014,11187,8,32.213481,Interstellar chronicles the adventures of a gr...,http://www.interstellarmovie.net/,8949.6
14551,Avatar,2009,12114,7,185.070892,"In the 22nd century, a paraplegic Marine is di...",http://www.avatarmovie.com/,8479.8
17818,The Avengers,2012,12000,7,89.887648,When an unexpected enemy emerges and threatens...,http://marvel.com/avengers_movie/,8400.0
23753,Guardians of the Galaxy,2014,10014,7,53.291601,"Light years from Earth, 26 years after being a...",http://marvel.com/guardians,7009.8
26553,Mad Max: Fury Road,2015,9629,7,29.36178,An apocalyptic story set in the furthest reach...,http://www.madmaxmovie.com/,6740.3
2458,The Matrix,1999,9079,7,33.366332,"Set in the 22nd century, The Matrix tells the ...",http://www.warnerbros.com/matrix,6355.3
12588,Iron Man,2008,8951,7,22.073099,"After being held captive in an Afghan cave, bi...",http://www.ironmanmovie.com/,6265.7
18244,The Hunger Games,2012,9634,6,20.031667,Every year in the ruins of what was once North...,http://www.thehungergames.movie/,5780.4
26555,Star Wars: The Force Awakens,2015,7993,7,31.626013,Thirty years after defeating the Galactic Empi...,http://www.starwars.com/films/star-wars-episod...,5595.1
256,Star Wars,1977,6778,8,42.149697,Princess Leia is captured and held hostage by ...,http://www.starwars.com/films/star-wars-episod...,5422.4
20830,Iron Man 3,2013,8951,6,23.721243,When Tony Stark's world is torn apart by a for...,http://marvel.com/ironman3,5370.6
25084,Jurassic World,2015,8842,6,32.790475,Twenty-two years after the events of Jurassic ...,http://www.jurassicworld.com/,5305.2
26567,Captain America: Civil War,2016,7462,7,145.882135,"Following the events of Age of Ultron, the col...",http://marvel.com/captainamericapremiere,5223.4
30051,The Martian,2015,7442,7,25.62993,"During a manned mission to Mars, Astronaut Mar...",http://www.foxmovies.com/movies/the-martian,5209.4

Inception e Interstellar aparecen en las dos primeras posiciones. Personalmente me gusta más Interstellar (si quieres ver un agujero negro, esta película es lo mejor que podrás conseguir), pero reconozco que Inception tiene mucho nivel. Podemos seguir refinando este tipo de recomendaciones prestando atención a los distintos atributos que tenemos disponibles sobre las películas.

### Ejercicio 1.3

Elija el género de su interés y aplique la métrica propuesta en el Ejercicio 1.1

#### Evaluando el género **Drama**

In [19]:
df_genero = gen_md.copy().loc[gen_md['genre'] == 'Drama']
df_genero.head(3)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
3,False,NaN,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,Drama
5,False,NaN,60000000,NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,...,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,Drama
7,False,NaN,0,NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995,Drama

In [20]:
metrica = pd.DataFrame(df_genero[['original_title', 'popularity', 'vote_average', 'vote_count']])
metrica['total_count'] = metrica['vote_count'].sum()
metrica['weight_count'] = metrica['vote_count'] / metrica['total_count']

metrica['popularity'].replace('Beware Of Frost Bites', 'NaN', inplace=True )
metrica['popularity'] = metrica.popularity.astype(float)

metrica['preferencia'] = metrica['vote_average'] * metrica['weight_count'] * metrica['popularity'] 
metrica = metrica.sort_values(['preferencia'], ascending = False)
metrica.head(15)

,original_title,popularity,vote_average,vote_count,total_count,weight_count,preferencia
12481,The Dark Knight,123.167259,8.3,12269.0,1956070.0,0.006272,6.412068
23675,Gone Girl,154.801009,7.9,6023.0,1956070.0,0.003079,3.765558
2843,Fight Club,63.869599,8.3,9678.0,1956070.0,0.004948,2.622850
314,The Shawshank Redemption,51.645403,8.5,8358.0,1956070.0,0.004273,1.875722
351,Forrest Gump,48.307194,8.2,8147.0,1956070.0,0.004165,1.649829
22879,Interstellar,32.213481,8.1,11187.0,1956070.0,0.005719,1.492286
536,Blade Runner,96.272374,7.9,3833.0,1956070.0,0.001960,1.490333
42170,Logan,54.581997,7.6,6310.0,1956070.0,0.003226,1.338160
23692,Dawn of the Planet of the Apes,75.385211,7.3,4511.0,1956070.0,0.002306,1.269105
23673,Whiplash,64.299990,8.3,4376.0,1956070.0,0.002237,1.193938
834,The Godfather,41.109264,8.5,6024.0,1956070.0,0.003080,1.076116
44274,War for the Planet of the Apes,146.161786,6.7,1675.0,1956070.0,0.000856,0.838570
10122,Batman Begins,28.505341,7.5,7511.0,1956070.0,0.003840,0.820920
20051,Django Unchained,19.785025,7.8,10297.0,1956070.0,0.005264,0.812377
1639,Titanic,26.889070,7.5,7770.0,1956070.0,0.003972,0.801076

In [21]:
k = 15
scifi = rec_gen('Drama', 1000)
scifi.head(15)

,title,year,vote_count,vote_average,popularity,overview,homepage,wr
12481,The Dark Knight,2008,12269,8,123.167259,Batman raises the stakes in his war on crime. ...,http://thedarkknight.warnerbros.com/dvdsite/,9815.2
22879,Interstellar,2014,11187,8,32.213481,Interstellar chronicles the adventures of a gr...,http://www.interstellarmovie.net/,8949.6
2843,Fight Club,1999,9678,8,63.869599,A ticking-time-bomb insomniac and a slippery s...,http://www.foxmovies.com/movies/fight-club,7742.4
20051,Django Unchained,2012,10297,7,19.785025,"With the help of a German bounty hunter, a fre...",http://unchainedmovie.com/,7207.9
314,The Shawshank Redemption,1994,8358,8,51.645403,Framed in the 1940s for the double murder of h...,NaN,6686.4
351,Forrest Gump,1994,8147,8,48.307194,A man with a low IQ has accomplished great thi...,NaN,6517.6
18252,The Dark Knight Rises,2012,9263,7,20.58258,Following the death of District Attorney Harve...,http://www.thedarkknightrises.com/,6484.1
1639,Titanic,1997,7770,7,26.88907,"84 years later, a 101-year-old woman named Ros...",http://www.titanicmovie.com,5439.0
10122,Batman Begins,2005,7511,7,28.505341,"Driven by tragedy, billionaire Bruce Wayne ded...",http://www2.warnerbros.com/batmanbegins/index....,5257.7
30051,The Martian,2015,7442,7,25.62993,"During a manned mission to Mars, Astronaut Mar...",http://www.foxmovies.com/movies/the-martian,5209.4
834,The Godfather,1972,6024,8,41.109264,"Spanning the years 1945 to 1955, a chronicle o...",http://www.thegodfather.com/,4819.2
22131,The Wolf of Wall Street,2013,6768,7,16.382422,A New York stockbroker refuses to cooperate in...,http://www.thewolfofwallstreet.com/,4737.6
24860,The Imitation Game,2014,5895,8,31.59594,Based on the real life story of legendary cryp...,http://theimitationgamemovie.com/,4716.0
30315,Inside Out,2015,6737,7,23.985587,"Growing up can be a bumpy road, and it's no ex...",http://movies.disney.com/inside-out,4715.9
13605,Inglourious Basterds,2009,6598,7,16.89564,"In Nazi-occupied France during World War II, a...",http://www.inglouriousbasterds-movie.com/,4618.6

#### Al evaluar las recomendaciones por género, evidenciamos mayor similitud en las métricas definidas. (Propuesta en ejercicio 1.1 y suministrada en ejercicio base)

#### Pues para el caso del género **Drama** tenemos 11 coincidencias de 15 películas con prioridad para recomendar.